.formLayout {
  position: relative;
  background-color: white;
  margin: 2rem;
  padding: 0.3rem;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}

.counterForm {
  width: 50%;
  border-radius: 20px;
  background-color: whiteblack;
  margin-right: 1rem;
}

form {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 6.5rem;
  right: 7.5rem;
  padding: 1rem;
  font-size: 0.8rem;
  justify-content: center;
  width: 23rem;
  height: fit-content;
  margin-right: auto;
}

.inputText {
  margin-bottom: 0.6rem;
  margin-top: 0.2rem;
  height: 2.5rem;
  width: 100%;
  border-radius: 9px;
  border: solid thin rgb(198, 194, 194);
  padding: 1rem;
  font-family: 'Poppins', sans-serif;
  color: black;
  opacity: 0.7;
}

input:active {
  border: solid black;
}
.checkbox {
  width: 1rem;
  cursor: pointer;
}
.checkboxContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: .9rem;
}


.terms-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 9rem;
  margin-bottom: 1rem;
  color: var(--text-secondary);
  font-size: 0.8rem;
}

button {
  width: 80%;
  height: 2.2rem;
  min-height: 2.2rem;
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: 600;
  background-color: black;
  margin-left: 2.4rem;
  cursor: pointer;
}

img {
  width: 100%;
  height: 85vh;
  border-radius: 18px;
  border: solid thin rgb(241, 238, 238);
}
