.custom-file-upload {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  .icon {
    font-size: 24px; /* Adjust icon size */
    cursor: pointer;
  } 

  .taskBoard {
    background-color: rgb(242,242,242);
    width: 100%;
    height: 100%;
    border: none;
  }