
/* PopUp window Notification */


.popupWindow {
    position: absolute;
    top:5rem;
    right: -1.5rem;
    box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.08), 0 2px 1.25px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    background-color: white;
    margin: 2rem;
    width: 20rem;
    height: 5rem;
    border: solid thin rgb(240, 239, 239);
    display: flex;
    justify-content: flex-start;
    transition: .2s;
    align-items: center;
    
  }
  .popupWindowClose {
    position: absolute;
    top:5rem;
    box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.08), 0 2px 1.25px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    background-color: white;
    margin: 2rem;
    width: 19rem;
    height: 0;
    border: solid thin rgb(240, 239, 239);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    opacity: 0;
  }
  .popUpBody {
    display: flex;
    flex-grow: 1;
    height: 5rem;
    padding: .4rem;
    flex-direction: column;
   
  }
  .popUpIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.8rem;
    height: 3.8rem;
    margin-left: .5rem;
    margin-right: 0.3rem;
    
  }
  .popUpImg {
    width: 3.6rem;
    height: 3.6rem;
    opacity: 1;
    border: white;
  }
  .popUpImgClose {
    width: 3.8rem;
    height: 3.8rem;
    opacity: 0;
  }
  .popUpTitle {
    font-size: 0.9rem;
    transition: .2s;
    color: black;

  }
  .popUpTitleClose {
    font-size: 0.9rem;
    opacity: 0;
  }
  .popUptext {
    font-size: 0.75rem;
    color: rgb(105, 112, 122);
    transition: .2s;
  }
  .popUptextClose {
    font-size: 0.7rem;
    color: rgb(105, 112, 122);
    opacity: 0;
  }
  .closeButton {
    background-color: white;
    position: absolute;
    top: -0.5rem;
    left: -0.5rem;
    font-size: 1.4rem;
    cursor: pointer;
    color: rgba(105, 112, 122, 0.493);
    transition: 0.5s;
    opacity: 0;
  }
  
  .popupWindow:hover .closeButton {
    opacity: 1;
  }
  
/* Signout PopUp */

.signout {
  height: 7rem;
 top: 35%;
 left: 35%;
 flex-direction: column;
 font-size: 1rem;
 padding: 0.4rem;
 margin: 0;
}
.popUpTitle.signout {
  height: 2rem;
}
.Buttons {
  
  display: flex;
  height: 2rem;
  margin-bottom: .7rem;
  gap: 1.5rem;
}
.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 2.5rem;
  border: solid thin rgb(240, 239, 239);
  border-radius: 25px;
  cursor: pointer;
  color: white;
  background-color: rgb(255, 80, 29);
  font-weight: 400;
}
.B {
  background-color: white;
  color: black;
}
.signoutArrow{
  font-size: .8rem;
  margin-left: .3rem;
  color: white;
}