.option {
    position: relative;
    display: flex;
    width: 90%;
    height: 1.8rem;
    font-size: .85rem;
    border-radius: 0px;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    transition: .2s;
    border-bottom: solid thin rgb(246, 246, 246);
}
.option:hover {
    background-color: rgb(249, 249, 249);
}

.optionCheck {
    position: absolute;
    font-size: .9rem;
    left:.5rem;
    transition: .2s;
}
.optionGreen {
    background-color: rgb(31, 207, 31);
    right: .5rem;
    position: absolute;
    width: 11px;
    height: 11px;
    border-radius: 25px;
}
.optionYellow {
    background-color: rgb(191, 191, 20);
    right: .5rem;
    position: absolute;
    width: 11px;
    height: 11px;
    border-radius: 25px;
}
.optionRed {
    background-color: rgb(255, 0, 0);
    right: .5rem;
    position: absolute;
    width: 11px;
    height: 11px;
    border-radius: 25px;
}
.optionChecked {
    position: absolute;
    font-size: .9rem;
    left:7.8rem;
    transition: .2s;
    color: rgb(13, 220, 13);
}
