    .optionShowroom{
        position: absolute;
    right: -4.5rem;
    box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.08), 0 2px 1.25px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    background-color: white;
    margin: 2rem;
    width: 11.5rem;
    height: 6rem;
    border: solid thin rgb(240, 239, 239);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    transition: .2s;
    align-items: center;
    z-index: 15;
    overflow: hidden;
    }
