.taskForm {
    position: absolute;
    top:10rem;
    right: 24rem;
    box-shadow: 0.2 1px 0.8px rgba(0, 0, 0, 0.08), 0.2 2px 2.25px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    background-color: white;
    margin: 2rem;
    width: 30rem;
    height: fit-content;
    max-height: 25rem;
    border: solid thin rgb(240, 239, 239);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: .5rem;
    transition: .2s;
   
}
.taskInputs {
    border-radius: 15px;
    padding: .3rem;
    margin: .3rem;
    box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.08), 0 2px 1.25px rgba(0, 0, 0, 0.05);

}   
.taskInput {
    font-size: 1.5rem;
    border: none;
    margin: .5rem;
    font-family: 'Poppins', sans-serif;
    width: 50%;
    color: black;
}
.taskInput::placeholder{
    color: rgb(97, 97, 97);
}
.taskInput:focus {
    outline: none;
}
.taskInput.desc {
    margin: 1.5rem;
    font-size: .8rem;
    color: rgb(156, 153, 153);
    max-height: 8rem;
    max-width: 25rem;
}
.taskInput.desc::placeholder {
    
    color: rgb(173, 173, 173);
}
.taskOptions {
    border-radius: 15px;
    padding: .3rem;
    margin: .3rem;
    height: 8rem;
    width: 29rem;
    box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.08), 0 2px 1.25px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: flex-start;
    row-gap: .4rem;
    
}
.attachmentIcon {
    position: absolute;
    z-index: 15;
    top: 1rem;
    left: 1rem;
    font-size: 1.5rem;
}
